*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --brand-color: #2196f3;
}

body {
  font-family: "Roboto", "Rakeway", sans-serif;
  margin: 0;
}
/* Menu section */
.page-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #ececec;
  margin-bottom: 0 auto;
}

.container {
  width: 1200px;
  margin: auto;
  justify-content: center;
}

.unstyled-list {
  list-style-type: none;
}

.main-nav-list {
  list-style-type: none;
  display: inline-block;
  flex-grow: 1;
}

.main-nav-item {
  display: inline-block;
  margin-right: 50px;
}
.contact-list-item {
  display: flex;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.main-nav-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.main-nav-contact:hover,
.main-nav-contact:focus {
  color: var(--brand-color);
}

.logo-first-section {
  color: var(--brand-color);
}
.main-nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: var(--brand-color);
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-list {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

/* Index section */
/* Hero section*/
.hero-element,
.motto,
.request-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-element {
  background-image: url(/images/gallery/hero.jpg);
  box-shadow: inset 300px 300px 300px 300px hsla(235, 10%, 21%, 0.3);

  width: 100%;
  height: 600px;
  left: 0px;
  top: 80px;
}
.motto {
  width: 696 px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900px;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  align-content: center;
}

.request-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  width: 200px;
  height: 50px;

  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  flex-wrap: nowrap;
  margin-top: 30px;
}

/* about us section*/
.about-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-section {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-top: 94px;
  width: 1200px;
}
.about {
  margin-right: 20px;
}

.about-icons {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 5px;
}

/* What we do section */
.section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 94px;
  margin-bottom: 50px;
}

.unstyled-listss {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.we-do-section {
  width: 100%;
}

/* Team section */

.teams {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.function {
  font-family: "Roboto";
  font-style: normal;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.somebody {
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 30px;
  box-shadow: 1px 3px #c3c3c9;
}
.team-section {
  width: 100%;
  height: 648px;
  margin-top: 94px;
  background: #f5f4fa;
  padding: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  justify-content: center;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-link {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-icon:hover {
  background-color: var(--brand-color);
  fill: #fff;
}

/* Customers section */

.customers {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-link:hover {
  border: 1px solid var(--brand-color);
}
.customer-icon {
  fill: #afb1b8;
}
.customer-icon:hover {
  fill: #2196f3;
}
/* Portfolio section */

.btn {
  font-family: "Roboto";
  font-style: normal;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
  background-color: var(--brand-color);
}

.btn:hover,
.btn:focus {
  box-shadow: 2px 8px 7px 0px rgba(117, 117, 117, 0.53);
  -webkit-box-shadow: 2px 8px 7px 0px rgba(117, 117, 117, 0.53);
  -moz-box-shadow: 2px 8px 7px 0px rgba(117, 117, 117, 0.53);
}

.card {
  border: 1px solid #ececec;
  width: 370px;
  height: 107px;
  margin-bottom: 30px;
  border-top-style: none;
  padding-top: 10px;
}
.product {
  width: 370px;
  height: 404px;
  margin-top: 30px;
}

.product:hover {
  box-shadow: 5px 5px 4px 2px rgba(117, 117, 117, 0.53);
  box-shadow: 2px 8px 9px 3px rgba(117, 117, 117, 0.53);
  -webkit-box-shadow: 2px 8px 9px 3px rgba(117, 117, 117, 0.53);
  -moz-box-shadow: 2px 8px 9px 3px rgba(117, 117, 117, 0.53);
}
.product-img {
  margin-bottom: 0px;
}

.product-name {
  font-family: "Roboto";
  font-style: normal;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-bottom: 4px;
  margin-top: 10px;
}
.product-type {
  font-family: "Roboto";
  font-style: normal;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-top: 4px;
}
.unstyled-btns {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  margin-top: 94px;
}
.unstyled-images {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;

  justify-content: space-around;
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 94px;
}

/*Footer section*/
.page-footer {
  background: #2f303a;
  width: 100%;

  display: flex;

  margin-bottom: 0 auto;
  padding: 30px;
}

.logo-last-section {
  color: #ffffff;
}
.adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.mail,
.tel {
  font-family: "Roboto";
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 12px;
}

.info:first-child {
  margin-bottom: 28px;
}

.social-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #fff;

  text-decoration: 1px solid #000000;
  margin-right: 516px;
}

.footer-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  justify-content: center;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-link:hover {
  background-color: var(--brand-color);
}
.contacts {
  display: flex;
  flex: 0 1 900px;
}
.social-media {
  flex: 1 0 800px;
  flex-direction: column;
  justify-content: flex-start;
}
